header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url('/public/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: var(--color-text);
    text-align: left;
} 