header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--color-bg);
    background-size: cover;
    background-position: center;
    color: var(--color-text);
    text-align: left;
}

@media (max-width: 1024px) {
    header {
        height: auto;
    }
}