.testimonial-item {
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.testimonial-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.testimonial-item i {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.testimonial-item p {
    flex-grow: 1; /* Ensures the text takes up remaining space */
    margin-bottom: 15px; /* Adds space between the text and the footer */
}

.testimonial-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.star-rating {
    color: var(--color-primary);
}

.star-rating i {
    font-size: 1.2rem;
    margin: 0 2px;
}