.testimonial-item {
    background-color: var(--color-bg-secondary);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.testimonial-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.testimonial-item i {
    font-size: 2rem;
    color: var(--color-primary);
    margin-bottom: 10px;
}

.testimonial-item p {
    flex-grow: 1; /* Ensures the text takes up remaining space */
    margin-bottom: 15px; /* Adds space between the text and the footer */
}

.testimonial-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.star-rating {
    color: var(--color-primary);
}

.star-rating i {
    font-size: 1.2rem;
    margin: 0 2px;
}

/* Grid layout pro recenze */
.testimonial-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 20px;
}

/* Media query pro střední obrazovky */
@media (min-width: 769px) and (max-width: 1024px) {
    .testimonial-list {
        grid-template-columns: 1fr 1fr; /* Zobrazí 2 sloupce místo 4 */
        gap: 1.5rem;
    }
    
    .testimonial-item {
        margin-bottom: 1rem; /* Přidáno více prostoru mezi řádky */
        transform: none; /* Vypnutí hover efektu posunutí nahoru */
    }
    
    .testimonial-item:hover {
        transform: none; /* Vypnutí hover efektu posunutí nahoru */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    /* Zrušení margin-bottom pro poslední řádek */
    .testimonial-item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

/* Media query pro mobilní zařízení */
@media (max-width: 768px) {
    .testimonial-list {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 10px;
    }
    
    .testimonial-item {
        margin-bottom: 1rem;
        transform: none; /* Vypnutí hover efektu posunutí nahoru */
    }
    
    .testimonial-item:hover {
        transform: none; /* Vypnutí hover efektu posunutí nahoru */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .testimonial-item:last-child {
        margin-bottom: 0;
    }
}